{% extends "base.html" %}
{% load static %}

{% block title %}Mark Attendance{% endblock %}
{% block header_title %}Mark Attendance{% endblock %}

{% block content %}
  <section class="attendance-form-container">
    <h2>New Attendance Record</h2>
    <form method="post" class="attendance-form">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="form-grid">
        <div>
          {{ form.student.label_tag }}<br>
          {{ form.student }}
          {{ form.student.errors }}
        </div>
        <div>
            {{ form.date.label_tag }}<br>
            {{ form.date }}
            {{ form.date.errors }}
          </div>
  