{% extends "base.html" %}
{% block title %}Delete Subject{% endblock %}
{% block header_title %}Delete Subject{% endblock %}
{% block content %}
  <div class="confirm-card">
    <p>Really delete the subject<br><span class="highlight">{{ obj }}</span> ?</p>
    <form method="post" class="confirm-actions">
      {% csrf_token %}
      <button type="submit" class="btn-danger">Yes, delete</button>
      <a href="{% url 'academics:subject_list' %}" class="btn-link">Cancel</a>
    </form>
  </div>
{% endblock %}
