{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Masomo{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="icon"        href="{% static 'assets/favicon.ico' %}" type="image/x-icon">
</head>
<body>
  <header>
    <h1>{% block header_title %}Bienvenue sur Masomo{% endblock %}</h1>
    <nav>
        <ul>
          <li><a href="{% url 'students:student_list' %}">Étudiants</a></li>
          <li><a href="{% url 'teachers:teacher_list' %}">Enseignants</a></li> 
          <li><a href="{% url 'students:gestion' %}">Gestion</a></li>
      
          {% if user.is_authenticated %}
            <!-- Hidden logout form -->
            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display:none;">
              {% csrf_token %}
            </form>
      
            <!-- Visible link that triggers the form submit -->
            <li>
              <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                Logout
              </a>
            </li>
          {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
      
      
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; 2025 School Management System</p>
  </footer>

  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</body>
</html>
