{% extends "base.html" %}
{% load static %}

{% block title %}Student List{% endblock %}
{% block header_title %}Student List{% endblock %}

{% block content %}
  <ul>
    {% for student in students %}
      <li>
        <a href="{% url 'students:student_detail' student.pk %}">
          {{ student.first_name }} {{ student.last_name }}
        </a>
        – {{ student.email }}
      </li>
    {% empty %}
      <li>No students yet.</li>
    {% endfor %}
  </ul>

  <p>
    <a href="{% url 'students:add_student' %}">Add New Student</a>
  </p>
{% endblock %}
