{% extends "base.html" %}
{% load static %}

{% block title %}Student: {{ student.first_name }} {{ student.last_name }}{% endblock %}
{% block header_title %}Student Details{% endblock %}

{% block content %}
  <h2>{{ student.first_name }} {{ student.last_name }}</h2>
  <ul>
    <li><strong>Email:</strong> {{ student.email }}</li>
    <li><strong>Date of Birth:</strong> {{ student.date_of_birth }}</li>
    <li><strong>Registered on:</strong> {{ student.registration_date }}</li>
  </ul>
  <p>
    <a href="{% url 'students:student_edit' student.slug %}">Edit</a> |
    <a href="{% url 'students:student_list' %}">Back to List</a>
  </p>
{% endblock %}